
.box{
   
    height: 300px;
    width:30%;
    background-color:#27335d  ;
     
    padding: 20px 0px 15px;
    border-radius: 1.5rem;
    margin-left: 20px;
    border: 2px solid;
    margin-top: 15px;
    border-color: #7d7c7c;
 

}
.text{
    color:white;
    display: flex;
    margin-left: 10px;
    align-items:start;
    
}
.amount{
    color:#30E000;
    display: flex;
    justify-content: space-evenly;
    align-items:baseline;
    margin-top: 110px;

}
.dashboard-section{
    display: flex;
   
}
.boxn{
   
    height: 200px;
    width:46%;
    background-color:#27335d ;
    padding: 20px 0px 15px;
    border-radius: 1.5rem;
    margin-top: 20px;
    margin-left: 20px;
    border: 2px solid;

    border-color: #7d7c7c;
 

}
.newbox{
    display:flex;
}
.all{
    background-color: #27335d;
}

